@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


:root {
    --fonte-title: 'Alfa Slab One', sans-serif;
}

@font-face {
    font-family: 'FontSignature';
    src: url('/static/service_order_static/font_signature.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.print-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1000;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.w-20 {
    width: 20%;
}

.all-container {
    width: 827px; 
    height: auto; 
    margin: 0 auto;
    position: relative;
}

.title-border {
    border-bottom: 3px solid black;
    letter-spacing: 2px;
}

.title{
    font-family: var(--fonte-title);
    height: fit-content;
}


.font1 {
    font-family: var(--fonte-title);
}

.container-head {
    border: 2px solid black;
}

.service-order {
    margin-left: 80px !important;
}

.data-title,
.service-order p {
    letter-spacing: 2px;
}

.text-day {
    width: 40px;
    height: 25px;
    border-bottom: 1px solid black;
}

.text-month {
    width: 120px;
    height: 25px;
    border-bottom: 1px solid black;
}

.text-year {
    width: 70px;
    height: 25px;
    border-bottom: 1px solid black;
}

.fs-service_order_text {
    font-size: 0.8rem;
}

.text_name,
.text_tell {
    width: 314px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.text_address {
    width: 500px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.text_neighborhood {
    width: 100px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.text_cep {
    width: 350px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}


.text_cpf {
    width: 350px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.text_car {
    width: 500px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.text_plate {
    width: 175px;
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.bg-dark1 {
    background-color: black;
}

.font-title {
    font-family: var(--fonte-title);
}

.spacing-letter {
    letter-spacing: 2px;
}


/* table  */

.custom-border-table {
    border-width: 3px !important;
    border-color: black !important;
}

.table td {
    border: 1px solid black; /* Adiciona bordas a todas as células */
}

.table td:last-child {
    border-right: 1px solid black; /* Garante que a borda direita da última coluna apareça */
}

.td {
    padding: 0;
}

.td-height {
    height: 36px !important;
}

/* end table  */

.border1 {
    border: 1px solid black;
}

.m-price-text {
    margin-right: 150px !important;
}

.b-e-none {
    border-right: none;
}

.name_and_tell,
.address_and_neighborhood,
.cep_and_cpf,
.car_and_plate {
    height: 40px;
}

.assurance {
    background-color: rgba(172, 255, 47, 0.774) !important;
}

.border-black {
    border-bottom: 1px solid black;
}

.signature-client,
.signature-responsible {
    width: 150px;
    height: 30px;
}

.signature-responsible-text {
    font-family: 'FontSignature';
    transform: translateY(-15px);
}



@media print {
    .all-container {
        width: 100%; /* Para impressão, usa a largura total */
        height: auto; /* Altura automática para se ajustar ao conteúdo */
    }

    .bg-dark1 {
        background-color: black !important; /* Garante que a cor de fundo seja aplicada na impressão */
        -webkit-print-color-adjust: exact; /* Força a impressão de cores exatas no Chrome */
        color-adjust: exact; /* Força a impressão de cores exatas em outros navegadores */
    }

    /* Adicione este estilo para garantir que o texto apareça corretamente em fundo preto */
    .bg-dark1 p {
        color: white !important; /* Garante que o texto seja branco na impressão */
    }

    .assurance {
        background-color: rgb(172, 255, 47) !important;
        -webkit-print-color-adjust: exact; /* Força a impressão de cores exatas no Chrome */
        color-adjust: exact; /
    }
    
    .signature-responsible-text {
        font-family: 'FontSignature';
        transform: translateY(-15px);
    }

    .print-button {
        display: none;
    }
}