<div class="card">
    <div class="row p-2 gap-2 gap-md-0">
        <div class="col-12 col-md-3">
            <div class="card bg-primary h-100">
                <div class="card-body">
                        <h5 class="card-title  fs-sm-2 fs-4">Quantidade de Carros Feitos</h5>
                        <p class="card-text text-white font-wheight-bold fs-1">{{total_of_cars_made}}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card bg-danger h-100">
                <div class="card-body">
                    <h5 class="card-title fs-4">CPF / CNPJ cadastrados</h5>
                    <p class="card-text text-white font-weight-bold fs-1">{{ total_cpf_registered }}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <h5 class="card-title fs-4">Clientes Cadastrados</h5>
                    <p class="card-text text-white font-wheight-bold display-6">{{total_clients_registered}}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <div class="card bg-success h-100">
                <div class="card-body">
                    <h5 class="card-title fs-4">Total de Vendas</h5>
                    <p class="card-text text-white font-wheight-bold display-6">R$ {{total_selling|floatformat:2}}</p>
                </div>
            </div>
        </div>

    </div>
</div>