<div class="card">
    <div class="row p-2 gap-2 gap-md-0">
        <div class="col-12 col-md-4">
            <div class="card bg-primary h-100">
            <div class="card-body ">
                    <h5 class="card-title">Quantidade de Carros Feitos (ultimos 7 dias)</h5>
                    <p class="card-text text-white font-wheight-bold display-6">{{total_of_cars_made_on_week}}</p>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <h5 class="card-title">Clientes Cadastrados (ultimos 7 dias)</h5>
                    <p class="card-text text-white font-wheight-bold display-6">{{total_of_clients_registered_on_week}}</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card bg-success h-100">
                <div class="card-body ">
                    <h5 class="card-title">Total de Vendas (ultimos 7 dias) </h5>
                    <p class="card-text text-white font-wheight-bold display-6">R$ {{total_amount_of_selling_on_week|floatformat:2}}</p>
                </div>
            </div>
        </div>

    </div>
</div>