{% extends "base.html" %}

{% block title %} Detalhes da Ordem de Serviço{% endblock title %}

{% block main %}
    <div class="container pt-4">
        <h3 class="display-4 mb-3">Detalhes da Ordem de Serviço</h3>

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p>Nome do cliente: <strong>{{service_order.client_name}}</strong></p>
                    <p>Data: <strong>{{service_order.created_at|date:'d/m/Y'}}</strong></p>
                </div>
                <p>Telefone: <strong>{{service_order.client_cellphone}}</strong></p>
                <p>Carro: <strong>{{service_order.car_model}}</strong></p>
                <p>Placa: <strong>{{service_order.car_plate}}</strong></p>
                <p>Valor do Serviço: <strong>{{service_order.service_price}}</strong></p>
                <p>Serviço Feito: <strong>{{service_order.service}}</strong></p>
                <p>Pago:
                    <input class="ms-1" type="checkbox" disabled {% if service_order.paid %} checked {% endif %}>
                </p>
            </div>
        </div>
        <a href="{% url "service_order:list" %}">
            <button class="btn btn-secondary mt-4">
                Volar para Lista de Ordem de Serviço
            </button>
        </a>
    </div>
{% endblock main %}